/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

button {
  border: none;
  border-radius: none;
  background-color: transparent;
  font-family: var(--font, Monospace);
  font-size: 18px;
  padding: 2px 13px;
}

button:hover {
  border: 1px solid var(--hovercolor);
}

button:focus {
  outline: none;
  border-bottom: 1px solid var(--text-title-color);
}

button:disabled {
  border: 1px solid var(--text-title-color);
}

.header {
  display: grid;
  background-image: var(--back-image);
  background-repeat: no-repeat;
  background-position: center bottom;
  
  background-size: cover;
  height: 100vh;
  min-height: 768px;
  
}

.header__theme-menu {
  margin-top: 21.5px;

  justify-self: center;
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;
  gap: 10px;
}

.header__theme-menu-button {
  
  color: var(--text-title-color, #ff0070);
  text-align: center;
  font-family: var(--font, Monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.title {
  justify-self: left;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0px  #ff0070;
  font-family: var(--font, Monospace);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  align-self: end;
  
}

.rec {
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  text-align: center;
  font-family: var(--font, Monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  justify-self: end;
  align-self: start;
  position: absolute;
  margin-inline-end: 20px;
  top: 20px;
  right: 10px;
  opacity: var(--rec-op);
}

.header::before {
  content: "";
  border-top: 1px solid var(--text-title-color);
  border-right: 1px solid var(--text-title-color);
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  align-self: end;
}
.header::after {
  content: "";
  border-bottom: 1px solid var(--text-title-color);
  border-left: 1px solid var(--text-title-color);
  width: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 25px;
  align-self: end;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  filter: drop-shadow(0px 0px 4px #ff0070);
}

.subtitle {
  color: var(--subtitle-color, #000028);
  font-family: var(--font, Monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background-color: var(--accent-color, #ff0070);
  margin-bottom: 10px;
  padding: 0;
  line-height: 23.4px;
}

.subtitle_padding {
  padding-bottom: 10px;
}

.subtitle_light {
  font-weight: 400;
}

.subtitle_header {
  display: block;
  width: 511px;
  align-self: end;
  justify-self: end;
  padding-right: 20px;
  padding-bottom: 128px;
  
}

.section {
  display: grid;
  align-items: start;
  margin: 60px 20px 20px;
}

.section_one {
  margin-top: 0px;
  display: grid;
  column-gap: 20px;
}

.subtitle_section {
  grid-column: 2/4;
}

.text_section {
  grid-column: 2/4;
}

.text_title {
  font-family: var(--font, Monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-title-color);

  width: 314px;
}

.text {
  font-family: var(--font, Monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.text_link{
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text_link:hover {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.text_link:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.section_column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260fr 315fr 428fr;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: 20px;
  margin-bottom: 60px;
}

.pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  height: 100vh;
  position: relative;
  display: grid;
}

.footer::before {
  content: "";
  border-top: 1px solid var(--text-title-color);
  border-right: 1px solid var(--text-title-color);
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  align-self: end;
}

.footer::after {
  content: "";
  border-bottom: 1px solid var(--text-title-color);
  border-left: 1px solid var(--text-title-color);
  width: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 25px;
  align-self: end;
}

.title_footer {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding-bottom: 35px;
}

@media (max-width: 768px) {
  .title {
    text-shadow: 4px 4px 0px #ff0070;
    font-family: var(--font, Monospace);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    padding-bottom: 65px;
  }

  .text_title {
    width: 236px;
  }

  .header {
    min-height: 1024px;
  }

  .title_footer{
    justify-self: center;
    align-self: center;
  }

  .subtitle_header {
    width: 364px;
    padding-bottom: 183px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-top: 193px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 13px;
    margin-right: 13px;
  }

  .section_column {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .footer::before {
    top: 1px;
  }

  .footer::after {
    bottom: 39px;
  }
 
  .title_footer {
    padding-bottom: 40px;
    
  }
  
}

@media (max-width: 375px) {
  


  .page {
    max-width: 375px;
    
  }

  .header::after {
    bottom: 10px;
    left: 10px;
  }

  .header::before{
    top: 10px;
    right: 10px;
  }
  
.header {
  min-height: 668px;
  
}

  .rec{
    right: 0;
    top: 10px;
  }

  .title {
    font-size: 116px;
    padding-top: 65px;
    padding-bottom: 55px;
    padding: 65px 10px 55px 10px;
  }

  .subtitle_header {
    padding-right: 10px;
    width: 355px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-top: 75px;
  }

  .header__theme-menu-list{
    margin-right: 10px;
  }

  .section {
    display: block;
    margin: 10px 10px;
    
  }

  .section_first {
    margin: 50px 10px 0px;
  }

  .section_fhird {
    padding-top: 30px;
  }

  .text {
    font-size: 18px;
  }

  .section_one {
    display: block;
    margin-top: -10px;
  }

  .subtitle_section {
   
    padding-bottom: 20px;
  }

  .text_title {
    width: auto;
    padding-bottom: 20px;
  }

  .section_column {
    gap: 0;
    padding-top: 0;
  }

  .cards {
    display: block;
    margin-bottom: 50px;
  }

  .pic:not(:last-child) {
    padding-bottom: 10px;
  }

  .footer::before {
    right: 10px;
    top: 3px;
  } 

  .footer::after {
    left: 10px;
    bottom: 17px;
  }

.title_footer {
  align-self: center;
  padding-bottom: 85px;
}

}